<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daybook Lite - Error</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/daybook-theme.css' %}?v=20260209001">
  </head>
  <body>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
