  <a class="navbar-brand" href="{% url 'manager:home' %}">
    <i class="fa-solid fa-user-shield"></i> 
    <span class="hanuman-600">Manager</span>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item {% if nav_title == 'Dashboard' %} active-nav {% endif %}">
        <a class="nav-link" href="{% url 'manager:home' %}"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
      </li>
      <li class="nav-item {% if nav_title == 'Balance Sheet' %} active-nav {% endif %}">
        <a class="nav-link" href="{% url 'manager:balance_sheet' %}"><i class="fa-solid fa-chart-bar"></i> Balance Sheet</a>
      </li>
      <li class="nav-item {% if nav_title == 'Users' or nav_title == 'users' %} active-nav {% endif %}">
        <a class="nav-link" href="{% url 'accounts:users_list' %}"><i class="fa-solid fa-users"></i> Users</a>
      </li>
      <li class="nav-item {% if nav_title == 'Shops' or nav_title == 'shops' %} active-nav {% endif %}">
        <a class="nav-link" href="{% url 'manager:shops_list' %}"><i class="fa-solid fa-store"></i> Shops</a>
      </li>
      <li class="nav-item {% if nav_title == 'Sync History' %} active-nav {% endif %}">
        <a class="nav-link" href="{% url 'manager:sync_history' %}"><i class="fa-solid fa-arrows-rotate"></i> Sync </a>
      </li>
      <li class="nav-item {% if nav_title == 'Configurations' or nav_title == 'configurations' %} active-nav {% endif %}">
        <a class="nav-link" href="{% url 'manager:configurations' %}"><i class="fa-solid fa-gear"></i> Configurations</a>
      </li>
      <li class="nav-item {% if nav_title == 'Activity' or nav_title == 'Activity Logs' %} active-nav {% endif %}">
        <a class="nav-link" href="{% url 'manager:activity_logs' %}"><i class="fa-solid fa-clock-rotate-left"></i> Activity Logs</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      {% if user and user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="user-avatar">
              {{ request.user.username|slice:":2"|upper }}
            </div> 
            <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="{% url 'user_settings' %}"><i class="fa-solid fa-gear"></i> User Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
          </ul>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>